<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WeatherBoy</title>
    <script src="~/lib/semantic/semantic/semantic.min.js"></script>
    <link rel="stylesheet" href="~/lib/semantic/semantic.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="ui menu">
        <div class="ui container">
            <a class='item' asp-page='index'>Home</a>
            <div class="right menu">
                <a class="item" asp-page='login'>Login</a>
            </div>
        </div>
    </div>
    <div class="ui container">
        @RenderBody()
    </div>

    <footer class="footer text-muted">
        <div class="ui container">
            <div class="ui padded header"> Base ASP.NET Core 3 w/ Blazor Pages Client side. (Not complex enough to warrant React) Made by Lamar Daughma &copy Weather Boy</div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
