@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="ui segment">
    <div class="ui centered header">
        WeatherBoy Weather Thing
    </div>
    <p>
        To see the weather Please Log in 😄 (Pssssst, Username and Password are... well.... Username and Password....)
    </p>
    <img src="https://media.giphy.com/media/x6aSlvkGWnuP6/giphy.gif" class="ui fluid image"/>

    
</div>