@page
@model LoginModel
@{
    ViewData["Title"]="Login";
}


<div class="ui segment">
    <div class="ui form">
        <div class="field">
            <label>Username</label>
            <input type="text" name="Username" id="Username">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="Username" id="Username">
        </div>
        <button class="ui button">Login</button>
    </div>
</div>